# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\CS5610\cs5610-groupproject-20fall-client-react-kjhomecare\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
